<rule name="rule 1f">
	<match url=".*"  />
	<action type="Rewrite" url="/index.php"  />
</rule>
<rule name="rule 2f">
	<match url="^(\.git|src)/(.*)"  />
	<action type="Rewrite" url="/error"  />
</rule>
<rule name="rule 3f">
	<match url="^(src|vendor)/(.*)\.(txt|xml|md|html|yaml|yml|php|pl|py|cgi|sh|bat)$"  />
	<action type="Rewrite" url="/error"  />
</rule>
<rule name="rule 4f">
	<match url="^(resources)/(.*)\.(txt|html|yaml|php|pl|py|cgi|sh|bat)$"  />
	<action type="Rewrite" url="/error"  />
</rule>
<rule name="rule 5f">
	<match url="\.html$"  />
	<action type="Rewrite" url="/error"  />
</rule>
<rule name="rule 6f">
	<match url="(^|/)\.(?!well-known)"  />
	<action type="Rewrite" url="/-"  />
</rule>
<rule name="rule 7f">
	<match url="^(LICENSE\.txt|composer\.lock|composer\.json|\.htaccess)$"  />
	<action type="Rewrite" url="/error"  />
</rule>
<rule name="rule 8f" stopProcessing="true">
	<match url="^"  />
	<action type="Rewrite" url="/%1"  />
</rule>
<rule name="rule 9f" stopProcessing="true">
	<match url="^"  />
	<action type="Rewrite" url="/index.php"  />
</rule>
