body {
  background: var(--dark-bg-color) !important;
}
:root {
  --profile-edit-form: var(--body-of-blog-bg);
}
.dark {
  --profile-edit-form: var(--dark-bg-color);
}
a {
  text-decoration: none;
}
.profile-container {
  background: var(--profile-main-bg);
}

.profile-logo-area img {
  object-fit: none;
}
.profilenav-area,
.profile-logo-area {
  border-bottom: 1px solid var(--post-summary-border-bottom);
}

.profile-top-link {
  font-size: 18px;
  font-weight: bold;
  color: var(--top-tab-link);
}
.active {
  border-bottom: 2px solid var(--custom-deep-purple);
}
.purple-link {
  color: var(--custom-deep-purple);
}

.profile-top-link:hover,
.active > a {
  color: var(--custom-deep-purple);
  text-decoration: none;
}

.profile-main {
  background: var(--profile-main-bg);
  margin-top: -20px;
}

.profile-content-area {
  background: var(--profile-edit-form);
  height: 930px;
}
.profile-edit-label {
  color: var(--text-color);
}

.profile-submit-btn {
  background: var(--custom-deep-purple) !important;
}

/* Image Overlay */
.profile-dp {
  max-width: 189px;
  max-height: 189px;
}

/* Mobile Styles  */
@media screen and (max-width: 1024px) {
  .nothing,
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .follow-numbers {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .profile-edit-title {
    display: none;
  }
}
