html, body{
    margin: 30px;
    height: 100%;
}



.ziki-logo{
  text-align: right;
}


  .theme-page .theme {
    width: 808px;
    height:930px;
    background: var(--WYSIWYG-editor-modal-body-bcg);
    border-radius: 4px;
    max-width: 100%;
    padding: 40px;

  }

  .theme-page h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: normal;
    letter-spacing: -0.02em;
    color: var(--user-info-on-profile-font-color);
  }

.theme-page select {
    width: 332px;
    max-width: 100%;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #9F9F9F;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin-top:10px;
    margin-bottom:10px;
}

.theme-page #option {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.02em;
    color: #141414;
    
}

.theme-page .toggle .switch h6{
    width: 200px;
    max-width: 200px;
    height: auto;
    padding-top: 10px;
  
}

.theme-page .toggle h6{
    padding-left: 4.2em;
    clear:both;
}

.theme-page .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
 .theme-page .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .theme-page .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .theme-page .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  
  input:checked + .slider {
    background-color: var(--custom-deep-purple);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--custom-deep-purple);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */

  .theme-page .slider.round {
    border-radius: 34px;
  }
  
 .theme-page .slider.round:before {
    border-radius: 50%;
  }

 






