

.videos table {
    width: 100%;
    display: table;
}

.videos table-row{
    display: table-row
}

.videos table-cell-left{

    width: 600px;
    display: table-cell
}


.videos table-cell-right{


}


