{% set title = "About us"%}
{% extends 'layout.html' %} {% block page_content %}
<style>
    .main-body{
        margin-right: 20px;
    }
    p{
        font-family: Lato;
        font-size: 16px;
        
    }
    .about-us-heading {
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
    }
    .about-us-content {
        background-color: rgba(249, 249, 249, 0.68);
        border-radius: 4px;
        padding: 20px;
        margin-top: 10px;
    }
    .about-us-post{
        text-align: justify;
        letter-spacing: 0.03em;
    }
</style>
<div class="container-fluid main-body">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sidebar">
            <!--
                SIDE-BAR-ENTERS-HERE
            -->

        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <!--
                LOGO
            -->
       <!--     <div class="m-4 text-right">
                <img src="resources/themes/ghost/assets/img/Vector.png" alt="ZIKI" class="img-ziki-logo">
       </div>   -->
            <div class="about-us-heading">
                <h3 class="about-us-title">About</h3>
            </div>
            <div class="about-us-content">
                <p class="about-us-post">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus pulvinar elementum integer enim neque volutpat ac. Enim sit amet venenatis urna cursus eget nunc scelerisque. Quam adipiscing
                    vitae proin sagittis. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Sapien pellentesque habitant morbi tristique. Morbi non arcu risus quis. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt
                    id. 
                    <br />Eget nulla facilisi etiam dignissim. Leo vel fringilla est ullamcorper eget nulla. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Maecenas accumsan lacus vel facilisis. Curabitur gravida arcu ac
                    tortor. Vitae sapien pellentesque habitant morbi tristique. Sit amet porttitor eget dolor morbi non arcu. Vel pharetra vel turpis nunc eget lorem dolor sed viverra.

                    <br />Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Lacus laoreet non curabitur gravida arcu ac. Fusce id velit ut tortor pretium viverra suspendisse potenti. Hendrerit gravida rutrum quisque non tellus orci ac.
                    Pharetra convallis posuere morbi leo urna molestie. At tellus at urna condimentum mattis pellentesque id. Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna. Vestibulum morbi blandit cursus risus at ultrices mi tempus
                    imperdiet. Dis parturient montes nascetur ridiculus.

                    <br />Nibh nisl condimentum id venenatis a condimentum. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Morbi tristique senectus et netus et malesuada. Praesent tristique
                    magna sit amet purus gravida. Donec massa sapien faucibus et molestie. Sollicitudin aliquam ultrices sagittis orci. Integer enim neque volutpat ac. Orci sagittis eu volutpat odio facilisis mauris. Sollicitudin ac orci phasellus egestas.
                    Mi bibendum neque egestas congue quisque. Pellentesque habitant morbi tristique senectus et netus et.
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock page_content %}
