{% extends 'layout.html' %}

{% block page_content %}
<style type="text/css">
	/*Side nav*/

	.sidebar-header #image-container {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 1.5px solid #280a66;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        /*background: url(); */
        display: inline-block;
        margin-bottom: 15px;
        margin-top: -10px;
        background: #280a66;
    }
    
    .owner-name{
    	font-style: italic;
    	font-weight: bold;
    }

    .sidebar-header .btn {
        background: #280a66;
        border-radius: 5px;
        color: white;
        margin-top: 20px;
        cursor: pointer;
        width: 90px;
        font-size: 14px;
        padding: 10px;
    }

	.sidebar-header{
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#sidebar ul {
		margin-top: 60px;
		list-style: none;
		text-align: left;
	}
	#sidebar li {
		margin: 7px;
	}
	#sidebar li a {
		text-decoration: none;
		color: #280a66;
	}
	/*Side nav ends*/
	.top-bar{padding-top: 30px; padding-bottom: 30px;}

	.timeline-wrapper{
		padding-top: 70px; 
		padding-bottom: 70px;
	}

	.ql-toolbar.ql-snow {
	    border: 0 !important;
	    box-sizing: border-box;
	    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	    padding: 8px;
	    margin-bottom: 10px;
	    background-color: #F5F5F5;
	    border-radius: 5px;
	}

	.ql-editor.ql-blank {
	    box-sizing: border-box;
	    height: 100%;
	    background-color: #F5F5F5;
	    border: 0 !important;
	}

	#editor{
	  height: 60vh !important;
	}

	.btn.btn-primary.canel-post{background-color: transparent !important; border: 1px solid red; color: red; padding: 6px 20px;}
	.btn.btn-primary.publish-post{background-color: #280a66 !important; border: 1px solid #280a66; padding: 6px 20px;}
	.btn.btn-primary.canel-post, .btn.btn-primary.publish-post{margin-left: 15px;}
</style>
<div class="container-fluid">
	<div class="row top-bar">
		<div class="col-12 col-sm-11"></div>
		<div class="col-12 col-sm-1">
			<!-- ziki logo here -->
			<img class="img-fluid" src="resources/themes/ghost/assets/build/img/logo.png">
		</div>
	</div>
  	<div class="row timeline-wrapper">
    	<!-- Side bar -->
		<div class="col-12 col-sm-4">
			<!-- Tominsin's codes goes here.. -->
		</div>

	    <!-- editor area.. -->
		<div class="col-12 col-sm-8">
			<!-- SleekX's code goes here.. -->
			<div class="row">
				<div class="col-12">
					<h4>New Post</h4>
					<hr>
				</div>
			</div>

	      	<!-- The editor code goes here -->
	      	<div id="form-container">
  				<form method="GET" action="editor"> 	
			      	<!-- Quill editor code goes here -->
					<div class="row">
						<div class="col-12 col-sm-11">
							<div class="row form-group">
								<div class="col-12">
									<input name="postVal" type="hidden">
									<div id="editor">

									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-1"></div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-11 d-flex flex-row-reverse">
							<input type="submit" class="btn btn-primary publish-post" value="Publish">
							<input type="reset" class="btn btn-primary canel-post" value="Cancel">
						</div>
						<div class="col-12 col-sm-1"></div>
					</div>
				</form>
			</div>
    	</div>
  </div>



	
  <div class="row footer">
  	<div class="col-12 col-sm-4">
  		<img class="img-fluid" src="resources/themes/ghost/assets/build/img/bubbles.png">
  	</div>
  	<div class="col-12 col-sm-8"></div>
  </div>
</div>
{% endblock page_content %}