{% set title = "New Post"%} {% extends 'layout.html' %} {% block page_content %}
<style type="text/css">
	.ql-toolbar.ql-snow {
		border: 0 !important;
		box-sizing: border-box;
		font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
		padding: 8px;
		margin-bottom: 10px;
		background-color: #f5f5f5;
		border-radius: 5px;
	}

	.ql-editor.ql-blank {
		box-sizing: border-box;
		height: 100%;
		background-color: #f5f5f5;
		border: 0 !important;
	}

	#editor {
		height: 60vh !important;
	}

	.btn.btn-primary.canel-post {
		background-color: transparent !important;
		border: 1px solid red;
		color: red;
		padding: 6px 20px;
	}
	.btn.btn-primary.publish-post {
		background-color: #280a66 !important;
		border: 1px solid #280a66;
		padding: 6px 20px;
	}
	.btn.btn-primary.canel-post,
	.btn.btn-primary.publish-post {
		margin-left: 15px;
	}

	.main-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

	#content {
		width: 100%;
		/*padding: 0px;*/
		min-height: 100vh;
		transition: all 0.3s;
		position: absolute;
		top: 0;
		right: 0;
	}
</style>

<!-- Main content Area -->
<div class="container-fluid main-body">
	<!-- Page body goes here -->
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sidebar">
			<!--
                    SIDE-BAR-ENTERS-HERE
                -->
		</div>

		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 body-of-blog mt-5 pt-3">
			<!-- SleekX's code goes here.. -->
			<div class="row">
				<div class="col-12">
					<h4>New Post</h4>
					<hr />
				</div>
			</div>

			<!-- The editor code goes here -->
			<div id="form-container">
				<form method="GET" action="editor">
					<!-- Quill editor code goes here -->
					<div class="row">
						<div class="col-12">
							<div class="row form-group">
								<div class="col-12">
									<input name="postVal" type="hidden" />
									<div id="editor"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 d-flex flex-row-reverse">
							<input type="submit" class="btn btn-primary publish-post" value="Publish" />
							<input
								type="reset"
								class="btn btn-primary canel-post"
								value="Cancel"
								data-toggle="modal"
								data-target="#cancelModal"
							/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- modal begins here -->
<div id="cancelModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<!--
  This produces the dark area when the side bar is activated.. Don't touch
-->
<div class="overlay"></div>
{% endblock page_content %}
