{% extends 'layout.html' %} {% block page_content %}
  <div class="container">
    <div class="row top-bar">
      <div class="col-12 col-sm-11"></div>
      <div class="col-12 col-sm-1">
        <!-- ziki logo here -->
        <img class="img-fluid" src="resources/themes/ghost/assets/build/img/vector.png" />
      </div>
    </div>
    <div class="row timeline-wrapper">
      
      <!-- main content.. -->
      <div class="col-12 offset-sm-4 col-sm-8">
        <!-- SleekX's code goes here.. -->
        <div class="row">
          <div class="col-12 col-sm-12">
            <ul class="nav nav-tabs">
                      <li class="nav-item">
                          <a class="nav-link" href="#">Profile</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Themes</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" href="followers.html">720 followers</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="following.html">50 following</a>
                      </li>
              </ul>
              
              <!-- Posts from here.. -->
          <article class="post-area">
          <span>You are followed by <a><i class="fa fa-search"></i>Search</a></span>
              <div class="row post-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/build/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
                      <div>
                      <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
                      <button class="btn btn-info follow-button">
                          Follow
                      </button>
                      </div>
                        </div>
                      </div>
                </div>
              </div>
              
              <div class="row post-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/build/img/litv.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Linda Ikeji</h5>
                      <div>
                      <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
                      <button class="btn btn-info following-button">
                          Following
                      </button>
                      </div>
                        </div>
                      </div>
                </div>
              </div>
              
              <div class="row post-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/build/img/dang.jpg" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Diary Of a Naija Girl</h5>
                      <div>
                      <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
                      <button class="btn btn-info following-button">
                          Following
                      </button>
                      </div>
                        </div>
                      </div>
                </div>
              </div>
          
              <div class="row post-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/build/img/BN.jpg" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Bella Naija</h5>
                      <div>
                      <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
                      <button class="btn btn-info follow-button">
                          Follow
                      </button>
                      </div>
                        </div>
                      </div>
                </div>
              </div>
          </article>
          </div>
        </div>
    </div>
  </div>
{% endblock page_content %}