{% set title = "Profile"%}
{% extends 'layout.html' %} {% block page_content%}

<!-- content goes here -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <!-- for the sidebar -->
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-3">
      <!-- for any other part of the page -->
      <div class="row profile-header d-flex flex-row justify-content-between pt-5 pb-1 px-3 flex-nowrap">
        <div class="col profilenav-area">
          <nav class="navbar pb-0 row">
            <ul class="d-flex flex-row navbar-nav col-12">
              <li class="p-3 active">
                <a href="/profile" class="profile-top-link">Profile</a>
              </li>
              <li class="p-3"><a href="/themes" class="profile-top-link">Themes</a></li>
              <li class="p-3"><a href="/following" class="profile-top-link"><span class="follow-numbers">76
                  </span>Following</a>
              </li>
              <li class="p-3"><a href="/followers" class="profile-top-link "><span class="follow-numbers">52</span>
                  Followers</a></li>
            </ul>
          </nav>
        </div>

      </div>

      <div class="row profile-main py-2">
        <div class="col profile-content-area p-1 pb-5 m-5">
          <h3 class="px-5 profile-edit-title">Profile</h3>
          <div class="row px-5 pt-2 pb-5">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 profile-dp-container text-center">
              <a href="" class="profile-dp-link mx-auto"> <img src="/resources/themes/ghost/assets/img/profiledp.png"
                  class="profile-dp d-block w-100 mx-auto" alt=""></a>

              <!-- Overlay edit icon -->
              <!-- <div class="edit"><a href="#" class="text-white"><i class="far fa-edit fa-lg"></i></a></div> -->


            </div>
            <div class="col">
              <form class="pb-5">
                <div class="form-group">
                  <label for="fullName" class="font-weight-bold profile-edit-label">Full Name</label>
                  <input type="text" class="form-control" id="" aria-describedby="fullname" placeholder="Enter Name">

                </div>
                <div class="form-group">
                  <label for="bio" class="font-weight-bold profile-edit-label">Bio</label>
                  <textarea class="form-control" id="" placeholder="Enter Bio" rows="5"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone" class="font-weight-bold profile-edit-label">Phone Number</label>
                  <input type="text" class="form-control" id="" aria-describedby="telephone"
                    placeholder="Enter Phone Number">
                </div>

                <button type="submit"
                  class="btn float-md-right profile-submit-btn text-white d-block mx-auto mt-3">UPDATE</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock page_content %}
