{% set title = "Profile"%}
{% extends 'layout.html' %} {% block page_content%}

<style>
  :root {
    --custom-deep-purple: #280a66;
    --dark-bg-color: #fff;
    --text-color: #000000;
    --body-of-blog-bg: #f9f9f9;
    --post-summary-border-bottom: #ebebeb;
    --published-post-header: transparent;
    --top-tab-link: #5c5c5c;
    --profile-edit-form: var(--body-of-blog-bg);
    --body-bg: #fff;
  }

  .dark {
    --custom-deep-purple: #7277ef;
    --dark-bg-color: #111111;
    --text-color: #7277ef;
    --top-tab-link: #ffffff;
    --published-post-header: #111111;
    --post-summary-border-bottom: #EBEBEB;
    --profile-edit-form: var(--dark-bg-color);
    --body-bg: rgba(17, 17, 17, 0.93) !important;
  }


  body {
    background: var(--body-bg) !important;
  }



  a {
    text-decoration: none;
  }

  .profile-container {
    background: var(--profile-main-bg);
  }

  .profile-logo-area img {
    object-fit: none;
  }

  .profilenav-area,
  .profile-logo-area {
    border-bottom: 1px solid var(--post-summary-border-bottom);
  }

  .profile-top-link {
    font-size: 16px;
    font-weight: bold;
    color: var(--top-tab-link);
  }

  .active {
    border-bottom: 2px solid var(--custom-deep-purple);
  }

  .purple-link {
    color: var(--custom-deep-purple);
  }

  .profile-top-link:hover,
  .active>a {
    color: var(--custom-deep-purple);
    text-decoration: none;
  }

  .profile-main {
    background: var(--profile-main-bg);
    margin-top: -20px;
  }

  .profile-dp-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
  }

  .profile-dp-link:hover:before {
    font-family: "Font Awesome 5 Free";
    content: '\f044';
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding: 4rem 0;
    display: block;
    background: rgba(68, 30, 147, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .profile-content-area {
    background: var(--profile-edit-form);
    height: 930px;
  }

  .profile-edit-title {
    color: #000000
  }

  .profile-edit-label {
    color: var(--text-color);
  }

  .profile-submit-btn {
    background: #280A66;
  }

  /* Image Overlay */
  .profile-dp {
    max-width: 189px;
    max-height: 189px;

  }

  /* Mobile Styles  */
  @media screen and (max-width: 1280px) {}

  @media screen and (max-width: 1024px) {
    .follow-numbers {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .profile-content-area {
      margin: 3rem 1rem !important;
      padding: 0 !important;
    }
  }

  @media screen and (max-width: 600px) {
    .profile-edit-title {
      display: none;
    }

    .profile-top-link {
      font-size: 12px !important;
    }

    .navbar-nav li {
      padding: 0 8px !important;
    }
  }
</style>

<!-- content goes here -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <!-- for the sidebar -->
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-3">
      <!-- for any other part of the page -->
      <div class="row profile-header d-flex flex-row justify-content-between pt-5 pb-1 px-3 flex-nowrap">
        <div class="col profilenav-area">
          <nav class="navbar pb-0 row">
            <ul class="d-flex flex-row navbar-nav col-12">
              <li class="p-3 active">
                <a href="profile" class="profile-top-link">Profile</a>
              </li>
              <li class="p-3"><a href="themes" class="profile-top-link">Themes</a></li>
              <li class="p-3"><a href="subscriptions" class="profile-top-link"><span class="follow-numbers">76
                  </span>Subscriptions</a>
              </li>
              <li class="p-3"><a href="subscribers" class="profile-top-link "><span class="follow-numbers">52</span>
                  Subscribers</a></li>
            </ul>
          </nav>
        </div>

      </div>

      <div class="row profile-main py-2">
        <div class="col profile-content-area p-1 pb-5 m-5">
          <h3 class="px-5 profile-edit-title">Profile</h3>
          <div class="row px-5 pt-2 pb-5">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 profile-dp-container text-center">
              <a href="" class="profile-dp-link mx-auto"> <img src="resources/themes/ghost/assets/img/profiledp.png"
                  class="profile-dp d-block w-100 mx-auto" alt=""></a>

              <!-- Overlay edit icon -->
              <!-- <div class="edit"><a href="#" class="text-white"><i class="far fa-edit fa-lg"></i></a></div> -->


            </div>
            <div class="col">
              <form class="pb-5">
                <div class="form-group">
                  <label for="fullName" class="font-weight-bold profile-edit-label">Full Name</label>
                  <input type="text" class="form-control" id="" aria-describedby="fullname" placeholder="Enter Name">

                </div>
                <div class="form-group">
                  <label for="bio" class="font-weight-bold profile-edit-label">Bio</label>
                  <textarea class="form-control" id="" placeholder="Enter Bio" rows="5"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone" class="font-weight-bold profile-edit-label">Phone Number</label>
                  <input type="text" class="form-control" id="" aria-describedby="telephone"
                    placeholder="Enter Phone Number">
                </div>

                <button type="submit"
                  class="btn float-md-right profile-submit-btn text-white d-block mx-auto mt-3">UPDATE</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock page_content %}