{% extends 'layout.html' %} {% block page_content %}

<div class="container-fluid">
  <div
    class="row pubpost-header d-flex flex-row justify-content-between pt-5 pb-1 px-3 flex-nowrap"
  >
    <div class="col-3 nothing"></div>
    <div class="col pubpostnav-area">
      <nav class="navbar pb-0">
        <ul class="d-flex flex-row navbar-nav ">
          <li class="p-3 active">
            <a href="" class="pubdrafts">Published</a>
          </li>
          <li class="p-3"><a href="" class="pubdrafts">Drafts</a></li>
        </ul>
      </nav>
    </div>
    <div class="pubpost-logo-area col-sm-2 d-flex justify-content-end pb-4">
      <img src="resources/themes/ghost/assets/img/Vector.png" alt="ziki logo" class="" />
    </div>
  </div>

  <div class="row pubpost-content py-2">
    <div class="col-3 sidebar"></div>

    <div class="col">
      <div class="pubpost-post-area row">
        <div class="col-sm-9 pub-area">
          <div class="pubpost-post px-5 py-4">
            <h4 class="pubpost-postauthor">Samaila Bala</h4>

            <h3 class="">
              <a href="" class="pubpost-post-title">
                Looking For Where To Spend Christmas in the comform of your home
              </a>
            </h3>

            <p class="pubpost-postbody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore , Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>

            <p class="pubpost-date">2nd April, 2019 : 04:30</p>
          </div>

          <div class="pubpost-post px-5 py-4">
            <h4 class="pubpost-postauthor">Samaila Bala</h4>

            <h3 class="">
              <a href="" class="pubpost-post-title">
                Looking For Where To Spend Christmas in the comform of your home
              </a>
            </h3>

            <p class="pubpost-postbody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore , Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>

            <p class="pubpost-date">2nd April, 2019 : 04:30</p>
          </div>

          <div class="pubpost-post px-5 py-4">
            <h4 class="pubpost-postauthor">Samaila Bala</h4>

            <h3 class="">
              <a href="" class="pubpost-post-title">
                Looking For Where To Spend Christmas in the comform of your home
              </a>
            </h3>

            <p class="pubpost-postbody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore , Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>

            <p class="pubpost-date">2nd April, 2019 : 04:30</p>
          </div>

          <div class="pubpost-post px-5 py-4">
            <h4 class="pubpost-postauthor">Samaila Bala</h4>

            <h3 class="">
              <a href="" class="pubpost-post-title">
                Looking For Where To Spend Christmas in the comform of your home
              </a>
            </h3>

            <p class="pubpost-postbody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore , Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>

            <p class="pubpost-date">2nd April, 2019 : 04:30</p>
          </div>

          <div class="pubpost-post px-5 py-4">
            <h4 class="pubpost-postauthor">Samaila Bala</h4>

            <h3 class="">
              <a href="" class="pubpost-post-title">
                Looking For Where To Spend Christmas in the comform of your home
              </a>
            </h3>

            <p class="pubpost-postbody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore , Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>

            <p class="pubpost-date">2nd April, 2019 : 04:30</p>
          </div>

          <div class="pubpost-post px-5 py-4">
            <h4 class="pubpost-postauthor">Samaila Bala</h4>

            <h3 class="">
              <a href="" class="pubpost-post-title">
                Looking For Where To Spend Christmas in the comform of your home
              </a>
            </h3>

            <p class="pubpost-postbody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore , Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>

            <p class="pubpost-date">2nd April, 2019 : 04:30</p>
          </div>

          <div class="pubpost-post px-5 py-4">
            <h4 class="pubpost-postauthor">Samaila Bala</h4>

            <h3 class="">
              <a href="" class="pubpost-post-title">
                Looking For Where To Spend Christmas in the comform of your home
              </a>
            </h3>

            <p class="pubpost-postbody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore , Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>

            <p class="pubpost-date">2nd April, 2019 : 04:30</p>
          </div>

          <div class="pubpost-post px-5 py-4">
            <h4 class="pubpost-postauthor">Samaila Bala</h4>

            <h3 class="">
              <a href="" class="pubpost-post-title">
                Looking For Where To Spend Christmas in the comform of your home
              </a>
            </h3>

            <p class="pubpost-postbody">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore , Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore
            </p>

            <p class="pubpost-date">2nd April, 2019 : 04:30</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- using semantic tags -->
</div>

{% endblock page_content %}
