{% set title = "Themes"%}
{% extends 'layout.html' %} {% block page_content%}

<!-- content goes here -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-3 offset-lg-4 offset-md-4 offset-sm-12 offset-xs-12">

            {% set navigation = [
                {'href': 'settings', 'caption': 'Settings'},
                {'href': 'profile', 'caption': 'Profile'}
                ]
            %}

            {% include "navtabs.html" with {'current_page': 'settings'} %}

            <div class="row themes-main py-2">
                <div class="col themes-content-area pb-5 mt-5 mr-3 px-0">

                    <div class="row d-flex flex-column px-3 pb-4">

                        <div class="col-lg-5 col-md-3 col-sm-6 col-6 order-lg-1 order-md-1 order-sm-1 order-1 pb-3 px-0">
                            <h6 class="h6 mb-0">Comment Plugin</h6>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 switch-toggle order-lg-3 order-md-3 order-sm-1 order-1 d-flex align-items-center px-0 pb-5">
                            <select class="custom-select plugin-select" placeholder="Select Plugin">
                                <option selected>Select Plugin</option>
                                <option value="discus">Discus</option>
                                <option value="facebook">Facebook</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 switch-toggle order-lg-3 order-md-3 order-sm-1 order-1 d-flex align-items-center px-0 pb-2">
                            <h6 class="switch-text flex-grow-1 font-weight-normal">Enable Videos Page</h6>
                            <label class="switch d-flex align-items-center">
                                <input type="checkbox"><span class="slider round"></span>                                
                            </label>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 switch-toggle order-lg-3 order-md-3 order-sm-1 order-1 d-flex align-items-center px-0">
                            <h6 class="switch-text flex-grow-1 font-weight-normal">Enable Portfolio Page</h6>
                            <label class="switch d-flex align-items-center">
                                <input type="checkbox"><span class="slider round"></span>                                
                            </label>
                        </div>

                    </div>

                    <div class="row d-flex flex-column px-3 pt-4 pb-4">

                        <div class="col-lg-5 col-md-3 col-sm-6 col-6 order-lg-1 order-md-1 order-sm-1 order-1 pb-3 px-0">
                            <h6 class="h6 mb-0">Themes</h6>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 switch-toggle order-lg-3 order-md-3 order-sm-1 order-1 d-flex align-items-center px-0">
                            <h6 class="switch-text flex-grow-1 font-weight-normal">Light Mode</h6>
                            <label class="switch d-flex align-items-center">
                                <input type="checkbox"><span class="slider round"></span>                                
                            </label>
                        </div>
                    </div>

                    <!-- theme list: the idea is to load from a theme.json file -->
                    {% set themeList = [
                        {'name': 'Ghost', 'imagePath': '/resources/themes/ghost/assets/img/theme1.png', isActive: true, color: '#280A66'},
                        {'name': 'Ruby', 'imagePath': '/resources/themes/ghost/assets/img/theme2.png', isActive: false, color: '#C61639'},
                        {'name': 'Pine', 'imagePath': '/resources/themes/ghost/assets/img/theme3.png', isActive: false, color: '#4A794F'},
                        ]
                    %}

                    <div class="row themes-main px-0 themes-cont">
                        <!-- just add backend looping code here: use of the div as template for looping -->
                        {% for theme in themeList %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xm-12 pb-2 theme-item mt-3 d-flex flex-column" data-name="{{ theme.name }}" 
                                title="Click to set {{ theme.name }} theme">
                                <figure class="px-0 py-0 mb-0">
                                    <img src="{{ theme.imagePath }}" alt="" class="img-fluid w-100 rounded-top">
                                    {% if theme.isActive %} <p class="d-md-none"></p> {% endif %}
                                </figure>                                
                                <div class="theme-state d-flex justify-content-start align-items-center px-3 py-2 rounded-bottom" style="background-color:{{ theme.color }};"> 
                                    <p class="text-white my-0 align-self-center">{{ theme.name }}</p></div>
                            </div>
                        {% endfor %}
                        <!-- /end backend looping code here -->
                    </div>
                    <script>
                        window.addEventListener('load', function () {

                            //handle filter
                            var theme_cont = document.querySelector('.themes-cont');
                            var theme_list = document.querySelectorAll('.themes-cont div.theme-item'); //each theme div
                            var search_input = document.querySelector('.search-box');
                            var badge = document.querySelector('.badge-round');

                            //not found temp 
                            var notfound = document.createElement('p');
                            notfound.classList.add('notfound');
                            notfound.innerText = 'No such theme found';

                            //event
                            search_input.addEventListener('keyup', function(e){
                                var value = e.target.value.trim().toLowerCase();
                                var found = false;
                                var count = 0;

                                //first remove notfound template if exist
                                (theme_cont.contains(notfound) ? theme_cont.removeChild(notfound) : null);
                                
                                theme_list.forEach(function(elem,index){
                                    var name = elem.dataset.name.trim().toLowerCase();
                                    if(name.includes(value)){ //check if the value exist in each theme name
                                        elem.classList.remove('hide');
                                        found = true;
                                        count += 1;
                                    }else{
                                        elem.classList.add('hide');
                                    }
                                });

                                badge.innerText = count;
                                //if no theme match
                                !found ? theme_cont.appendChild(notfound) : (theme_cont.contains(notfound) ? theme_cont.removeChild(notfound) : null);
                            });

                        }, false);
                    </script>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock page_content %}
