{% set title = "Themes"%}
{% extends 'layout.html' %} {% block page_content%}

<!-- content goes here -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-3 offset-lg-4 offset-md-4 offset-sm-12 offset-xs-12">

            {% set navigation = [
                {'href': 'settings', 'caption': 'Settings'},
                {'href': 'profile', 'caption': 'Profile'},
                {'href': 'subscriptions', 'caption': 'Subscriptions'}
                ]
            %}

            {% include "navtabs.html" with {'current_page': 'settings'} %}

            <div class="row themes-main py-2">
                <div class="col themes-content-area pb-5 mt-5 mr-3 px-0">

                    <div class="row d-flex flex-column px-3 pb-4">

                        <div class="col-lg-5 col-md-3 col-sm-12 col-xs-12 col-6 order-lg-1 order-md-1 order-sm-1 order-1 pb-3 px-0">
                            <h6 class="h6 mb-0 font-weight-bold">Comment Plugin</h6>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-6 switch-toggle order-lg-3 order-md-3 order-sm-1 order-1 d-flex align-items-center px-0 pb-5">
                            <div class="lucid-custom-select w-100">
                                <select class="w-100" placeholder="Select Plugin">
                                    <option selected>Select Plugin</option>
                                    <option value="discus">Discus</option>
                                    <option value="facebook">Facebook</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-6 switch-toggle order-lg-3 order-md-3 order-sm-1 order-1 d-flex align-items-center px-0 pb-2">
                            <h6 class="switch-text flex-grow-1 font-weight-normal">Enable Videos Page</h6>
                            <label class="switch d-flex align-items-center">
                                <input type="checkbox"><span class="slider round"></span>                                
                            </label>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-6 switch-toggle order-lg-3 order-md-3 order-sm-1 order-1 d-flex align-items-center px-0">
                            <h6 class="switch-text flex-grow-1 font-weight-normal">Enable Portfolio Page</h6>
                            <label class="switch d-flex align-items-center">
                                <input type="checkbox"><span class="slider round"></span>                                
                            </label>
                        </div>

                    </div>

                    <div class="row d-flex flex-column px-3 pt-4 pb-4">

                        <div class="col-lg-5 col-md-3 col-sm-6 col-6 order-lg-1 order-md-1 order-sm-1 order-1 pb-3 px-0">
                            <h6 class="h6 mb-0 font-weight-bold">Themes</h6>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 switch-toggle order-lg-3 order-md-3 order-sm-1 order-1 d-flex align-items-center px-0">
                            <h6 class="switch-text flex-grow-1 font-weight-normal">Light Mode</h6>
                            <label class="switch d-flex align-items-center">
                                <input type="checkbox"><span class="slider round"></span>                                
                            </label>
                        </div>
                    </div>

                    <!-- theme list: the idea is to load from a theme.json file -->
                    {% set themeList = [
                        {'name': 'Ghost', 'imagePath': '/resources/themes/ghost/assets/img/theme1.png', isActive: true, color: '#280A66'},
                        {'name': 'Ruby', 'imagePath': '/resources/themes/ghost/assets/img/theme2.png', isActive: false, color: '#C61639'},
                        {'name': 'Pine', 'imagePath': '/resources/themes/ghost/assets/img/theme3.png', isActive: false, color: '#4A794F'},
                        ]
                    %}

                    <div class="row themes-main px-0 themes-cont">
                        <!-- just add backend looping code here: use of the div as template for looping -->
                        {% for theme in themeList %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xm-12 pb-2 theme-item mt-3 d-flex flex-column" data-name="{{ theme.name }}" 
                                title="Click to set {{ theme.name }} theme">
                                <figure class="px-0 py-0 mb-0">
                                    <img src="{{ theme.imagePath }}" alt="" class="img-fluid w-100 rounded-top">
                                    {% if theme.isActive %} <p class="d-md-none"></p> {% endif %}
                                </figure>                                
                                <div class="theme-state d-flex justify-content-start align-items-center px-3 py-2 rounded-bottom" {% if theme.color %} style="background-color:{{ theme.color }};" {% endif %}> 
                                    <p class="text-white my-0 align-self-center">{{ theme.name }}</p></div>
                            </div>
                        {% endfor %}
                        <!-- /end backend looping code here -->
                    </div>
                    <script>
                        window.addEventListener('load', function () {        
                            
                            var app = (function(){
            
                                return {
                                    handleCustomSelect: function(){
                                        /*------------ handle custom select dropdown ---------------*/
                                        var x, i, j, selElmnt, a, b, c;
                                        /*look for any elements with the class "custom-select":*/
                                        x = document.getElementsByClassName("lucid-custom-select");
                                        for (i = 0; i < x.length; i++) {
                                        selElmnt = x[i].getElementsByTagName("select")[0];
                                        /*for each element, create a new div that will act as the selected item:*/
                                        a = document.createElement("div");
                                        a.setAttribute("class", "select-selected");
                                        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
                                        x[i].appendChild(a);
                                        /*for each element, create a new div that will contain the option list:*/
                                        b = document.createElement("div");
                                        b.setAttribute("class", "select-items select-hide");
                                        for (j = 1; j < selElmnt.length; j++) {
                                            /*for each option in the original select element,
                                            create a new div that will act as an option item:*/
                                            c = document.createElement("div");
                                            c.innerHTML = selElmnt.options[j].innerHTML;
                                            c.addEventListener("click", function(e) {
                                                /*when an item is clicked, update the original select box,
                                                and the selected item:*/
                                                var y, i, k, s, h;
                                                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                                                h = this.parentNode.previousSibling;
                                                for (i = 0; i < s.length; i++) {
                                                if (s.options[i].innerHTML == this.innerHTML) {
                                                    s.selectedIndex = i;
                                                    h.innerHTML = this.innerHTML;
                                                    y = this.parentNode.getElementsByClassName("same-as-selected");
                                                    for (k = 0; k < y.length; k++) {
                                                    y[k].removeAttribute("class");
                                                    }
                                                    this.setAttribute("class", "same-as-selected");
                                                    break;
                                                }
                                                }
                                                h.click();
                                            });
                                            b.appendChild(c);
                                        }
                                        x[i].appendChild(b);
                                        a.addEventListener("click", function(e) {
                                            /*when the select box is clicked, close any other select boxes,
                                            and open/close the current select box:*/
                                            e.stopPropagation();
                                            closeAllSelect(this);
                                            this.nextSibling.classList.toggle("select-hide");
                                            this.classList.toggle("select-arrow-active");
                                            });
                                        }
                                        function closeAllSelect(elmnt) {
                                            /*a function that will close all select boxes in the document,
                                            except the current select box:*/
                                            var x, y, i, arrNo = [];
                                            x = document.getElementsByClassName("select-items");
                                            y = document.getElementsByClassName("select-selected");
                                            for (i = 0; i < y.length; i++) {
                                                if (elmnt == y[i]) {
                                                arrNo.push(i)
                                                } else {
                                                y[i].classList.remove("select-arrow-active");
                                                }
                                            }
                                            for (i = 0; i < x.length; i++) {
                                                if (arrNo.indexOf(i)) {
                                                x[i].classList.add("select-hide");
                                                }
                                            }
                                        }
                                        /*if the user clicks anywhere outside the select box,
                                        then close all select boxes:*/
                                        document.addEventListener("click", closeAllSelect);
                                    
                                    },
                                    init: function(){
                                        app.handleCustomSelect();
                                    }
                                }

                            }());

                            //init app
                            app.init();

                        }, false);
                    </script>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock page_content %}
