<style>
  /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
  .sidebar-container {
    background: rgba(255, 255, 255, 0);
    color: #fff;
    /* transition: all 0.3s; */
    position: absolute;
    z-index: 2;
  }

  .sidebar-container.sidebar-shown {
    background: #fff;
  }

  .side-trigger {
    background: #280966;
    color: #fff;
  }

  #sidebar.active {
    display: block;
  }

  #sidebar {
    display: none;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }

  #sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
  }

  #sidebar ul li.active > a,
  a[aria-expanded='true'] {
    color: #fff;
    background: #6d7fcc;
  }

  a[data-toggle='collapse'] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .side-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1.5px solid #280a66;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*background: url(); */
    /*display: inline-block;*/
    margin-bottom: 15px;
    margin-top: -10px;
    background: #280a66;
  }

  .owner-name {
    font-style: italic;
    font-weight: bold;
    color: #280a66 !important;
  }
  .bio {
    color: #280a66 !important;
  }

  .login-button {
    background-color: #280a66 !important;
    padding: 5px 20px;
    color: white !important;
  }

  #sidebar ul {
    margin-top: 60px;
    list-style: none;
    text-align: left;
  }
  #sidebar li {
    margin: 7px;
  }
  #sidebar li a {
    text-decoration: none;
    color: #280a66;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .navigation-bar {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .sidebar-container {
      width: 33%;
    }
    #sidebar,
    #sidebar.active {
      display: block;
    }
    .sidebar-container,
    .sidebar-container.sidebar-shown {
      background: #fff;
    }
    .side-trigger {
      display: none;
    }
  }
</style>
<div class="container-fluid py-3 sidebar-container">
  <div class="col-6">
    <button
      type="button"
      id="sidebarCollapse"
      class="btn btn-info side-trigger"
    >
      <i class="fas fa-align-left"></i> <span></span>
    </button>
  </div>

  <!-- Owner profile details -->
  <div id="sidebar">
    <div class="row">
      <div class="col-12 side-content pt-5">
        <div>
          <img
            class="img-fluid profile-pic"
            src="resources/themes/ghost/assets/img/fiverr.jpg"
          />
        </div>
        <h4 class="owner-name">Owner's Name</h4>
        <h6 class="bio">Owner's Bio</h6>
        <a href="#"
          ><button class="btn btn-default login-button" type="button">
            Login
          </button></a>
      </div>
    </div>

    <hr />

    <!-- side bar menu links -->
    <div class="row">
      <div class="col-12 col-sm-2"></div>
      <div class="col-12 col-sm-8">
        <ul>
          <li><a href="published-posts">Published Posts</a></li>
          <li><a href="profile">Profile</a></li>
          <li><a href="#">About Ziki</a></li>
          <li><a href="contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-2"></div>
    </div>
  </div>
</div>
