<style>
  :root {
    --ziki-purple: #280966;
  }

  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */
  .sidebar-container {
    background: rgba(255, 255, 255, 0);
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .sidebar-container.sidebar-shown {
    min-height: 100%;
    background: linear-gradient(180deg, #973793 0%, rgba(134, 64, 131, 0) 100%),
      #3b0e75;
  }

  .sidebar-logo {
    display: none;
  }

  .sidebar-shown .sidebar-logo {
    display: initial;
  }

  .sidebar-shown .owner-info {
    display: none;
  }

  .sidebar-close {
    display: none;
  }

  .sidebar-shown .sidebar-close {
    display: initial;
    border: none;
    font-size: 3em;
    padding: 0 0.3em;
    color: #fff;
    background: rgba(255, 255, 255, 0);
  }

  .side-trigger {
    background: var(--ziki-purple);
    color: #fff;
  }

  .sidebar-shown .side-trigger {
    display: none;
  }

  #sidebar.shown {
    display: block;
  }

  #sidebar {
    display: none;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.7em;
    font-weight: bold;
    display: block;
    color: #fff;
    text-decoration: none;
  }

  #sidebar ul li a:hover {
    color: var(--ziki-purple);
  }

  #sidebar ul li.shown > a,
  a[aria-expanded='true'] {
    color: #fff;
    background: #6d7fcc;
  }

  a[data-toggle='collapse'] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .side-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1.5px solid #280a66;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*background: url(); */
    /*display: inline-block;*/
    margin-bottom: 15px;
    margin-top: -10px;
    background: #280a66;
  }

  .owner-name {
    font-style: italic;
    font-weight: bold;
    color: #280a66 !important;
  }
  .bio {
    color: #280a66 !important;
  }

  .login-button {
    background-color: #280a66 !important;
    padding: 5px 20px;
    color: white !important;
  }

  #sidebar ul {
    margin-top: 60px;
    list-style: none;
    text-align: left;
  }
  #sidebar li {
    margin: 7px;
  }

  .navigation-bar {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mobile-login {
    background: #fff;
    color: #8d348f;
    font-weight: bold;
    font-size: 1.7em;
  }

  .sidebar-bubble {
    display: none;
  }

  @media screen and (min-width: 500px) and (max-width: 757px) {
    #sidebar ul {
      margin-top: 0px;
    }

    #sidebar ul li a {
      padding: 4px;
      font-size: 1.1em;
    }

    .mobile-login {
      font-size: 1em;
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    #sidebar ul {
      margin-top: 20px;
    }

    #sidebar ul li a {
      padding: 5px;
      font-size: 1.2em;
    }

    .mobile-login {
      font-size: 1.2em;
    }
  }

  @media (min-width: 768px) {
    .sidebar-container {
      width: 33%;
    }
    #sidebar,
    #sidebar.shown {
      display: block;
    }
    .sidebar-container,
    .sidebar-container.sidebar-shown {
      background: #fff;
    }
    .side-trigger {
      display: none;
    }

    .owner-info,
    .sidebar-shown .owner-info {
      display: block;
    }

    #sidebar ul li a {
      color: var(--ziki-purple);
      padding: 4px;
      font-size: 1em;
    }

    #sidebar ul li a:hover {
      color: #7386d5;
      background: #fff;
    }

    .mobile-login {
      display: none;
    }

    .sidebar-bubble {
      display: block;
      padding: 10em 0 0 1em;
    }
  }

  @media screen and (min-height: 500px) {
    .sidebar-bubble {
      /* push sidebar bubble further down the page */
      padding-top: 12em;
    }
  }

  @media screen and (min-height: 1000px) {
    .sidebar-bubble {
      /* push sidebar bubble further down the page */
      padding-top: 15em;
    }
  }

  /* beginning of styling for the login modal */
  .login-modal-popup-left-column {
    background: linear-gradient(180deg, #973793 0%, rgba(134, 64, 131, 0) 100%),
      #3b0e75;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .login-modal-popup-right-column {
    background: #ffffff;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .login-modal-border-radius {
    border-radius: 5px;
  }
  .ziki-Welcome-msg {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
  }
  .ziki-about-msg {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
  }
  .login-msg {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.1em;
    color: #111;
  }
  .login-dialog {
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .google-signin-btn {
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .facebook-signin-btn {
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 25px;
  }
  .bottom-msg {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: normal;
    text-align: justify;
    color: #111;
  }
  .auth-link {
    text-decoration: none;
    color: #111;
  }
  .auth-link:hover {
    text-decoration: none;
    color: #111;
  }
  .greetings {
    margin-top: 70px;
  }
  .modal-dialog-container {
    margin: 150px auto;
  }
  .logo {
    padding-left: 70px;
    margin-top: 50px;
  }
  .modal-close-button {
    display: none;
  }

  @media only screen and (max-width: 767px) {
    /* modal styling For mobile phones: */
    .modal-close-button {
      display: initial;
    }
    #modalLoginForm {
      background: -webkit-linear-gradient(
          180deg,
          #973793 0%,
          rgba(134, 64, 131, 0) 100%
        ),
        #3b0e75 !important;
    }
    .login-modal-popup-left-column {
      background: transparent;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .login-modal-popup-right-column {
      width: 87%;
      margin: auto;
      background: rgba(255, 255, 255, 0.26);
      box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }
    .login-dialog {
      padding: 50px 30px;
      box-sizing: border-box;
    }
    .modal-content {
      background: transparent;
      border: none;
    }
    .greetings {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .logo {
      margin-top: 0px;
      box-sizing: border-box;
    }
    .modal-dialog-container {
      margin: 100px auto;
    }
    .login-msg {
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: normal;
      margin-bottom: 20px;
      letter-spacing: 0.1em;
      color: #ffffff;
    }
    .bottom-msg {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: normal;
      text-align: justify;
      color: #ffffff;
    }
  }

  @media screen and (min-width: 768px) {
    /* login modal for tabs */
    .modal-content {
      width: 125%;
      margin: auto;
      left: -12%;
    }
  }
  @media screen and (min-width: 992px) {
    /* login modal for PC */
    .auth-link {
      font-size: 1.4rem;
    }
    .bottom-msg {
      font-size: 0.7rem;
    }
  }
</style>
<div class="container-fluid py-3 sidebar-container">
  <div class="row">
    <div class="col-6 text-left">
      <button
        type="button"
        id="sidebarCollapse"
        class="btn btn-info side-trigger"
      >
        <i class="fas fa-align-left"></i> <span></span>
      </button>
      <img
        src="resources/themes/ghost/assets/img/faviconimage.png"
        alt="logo"
        class="sidebar-logo p-3"
      />
    </div>
    <div class="col-6 text-right">
      <button type="button" class="sidebar-close">&times;</button>
    </div>
  </div>

  <!-- Owner profile details -->
  <div id="sidebar">
    <div class="owner-info">
      <div class="row">
        <div class="col-12 side-content pt-5">
          <div>
            <img
              class="img-fluid profile-pic"
              src="resources/themes/ghost/assets/img/fiverr.jpg"
            />
          </div>
          <h4 class="owner-name">Owner's Name</h4>
          <h6 class="bio">Owner's Bio</h6>
          <a href="#"
            ><button
              class="btn btn-default login-button"
              type="button"
              data-toggle="modal"
              data-target="#modalLoginForm"
            >
              Login
            </button></a
          >
        </div>
      </div>

      <hr />
    </div>

    <!-- side bar menu links -->
    <div class="row">
      <div class="col-12 col-sm-8">
        <ul class="pl-0">
          <li><a href="published-posts">Published Posts</a></li>
          <li><a href="profile">Profile</a></li>
          <li><a href="about">About Ziki</a></li>
          <li><a href="contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="pl-4 col-12">
        <button
          type="button"
          class="mobile-login px-5 mt-2 mt-sm-2 btn btn-primary"
        >
          Login
        </button>
        <script>
          // click login modal
          document
            .querySelector('.mobile-login')
            .addEventListener('click', e => {
              document.querySelector('[data-toggle="modal"]').click();
            });
        </script>
      </div>
    </div>

    <!-- bubble -->
    <div class="row align-items-end sidebar-bubble">
      <div class="col-12">
        <img src="resources/themes/ghost/assets/img/bubbles.png" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div
  class="modal fade"
  id="modalLoginForm"
  style="background: rgba(255, 255, 255, 0.92);"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-container" role="document">
    <div class="modal-content">
      <div class="row login-modal-border-radius">
        <div class="col-md-6 login-modal-popup-left-column">
          <div class="row">
            <div class="col-6 logo">
              <img src="resources/themes/ghost/assets/img/faviconimage.png" />
            </div>
            <div class="col-6">
              <button
                class="modal-close-button"
                style="background: transparent; color:#fff; border: none; font-size: 3rem; position: relative;top: -30px;left: 60px;"
                data-dismiss="modal"
              >
                &times;
              </button>
            </div>

            <div class="col-md-12 greetings">
              <h3 class="text-center ziki-Welcome-msg" style="color:#fff;">
                Welcome to Ziki
              </h3>
              <p class="text-center ziki-about-msg" style="color:#fff;">
                Simplify your blogging experience.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 login-modal-popup-right-column">
          <div class="row login-dialog">
            <div class="col-md-12">
              <p class="login-msg">LOGIN TO CONTINUE</p>
            </div>
            <div class="col-md-12  google-signin-btn">
              <div class="row" style="padding-top:10px;box-sizing: border-box;">
                <div class="col-2">
                  <img
                    src="resources/themes/ghost/assets/build/img/google.png"
                    style="width:100%;"
                  />
                </div>
                <div class="col-10">
                  <p style="color:#111;">
                    <a href="#" class="auth-link">Sign in with google</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12  facebook-signin-btn">
              <div class="row" style="padding-top:10px;box-sizing: border-box;">
                <div class="col-2">
                  <img
                    src="resources/themes/ghost/assets/build/img/facebook.png"
                    style="width:100%;"
                  />
                </div>
                <div class="col-10">
                  <p style="color:#111;">
                    <a href="#" class="auth-link">Sign in with Facebook</a>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-md-12"
              style="margin-top:20px;box-sizing: border-box; text-align: center"
            >
              <p class="bottom-msg">
                To make this site work, we log user data and share it with
                service providers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
