{% set title = "Subscriptions"%}
{% extends 'layout.html' %} {% block page_content%}

<!-- content goes here -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <!-- for the sidebar -->
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt-3">

            <!-- for any other part of the page -->
            <div class="row profile-header d-flex flex-row justify-content-between pt-5 pb-1 px-3 flex-nowrap">
                <div class="col profilenav-area">
                    <nav class="navbar pb-0 row">
                        <ul class="d-flex flex-row navbar-nav col-12">
                            <li class="p-3">
                                <a href="/profile" class="profile-top-link">Profile</a>
                            </li>
                            <li class="p-3">
                                <a href="/themes" class="profile-top-link">Themes</a>
                            </li>
                            <li class="p-3 active">
                                <a href="/subscriptions" class="profile-top-link"><span class="follow-numbers">76</span>
                                    Subscriptions</a>
                            </li>
                            <li class="p-3">
                                <a href="/subscribers" class="profile-top-link "><span class="follow-numbers">52</span>
                                    Subscribers</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

            <div class="row profile-main py-2">
                <div class="col-10 subscription-content-area p-1 pb-5 my-5 mx-auto px-4">

                    <div class="px-3">
                        <div class="subscription-content-header row d-flex align-items-center ">

                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <p class="followed-text text-nowrap">You Subscribed to</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 search-area">
                                <form action="post">
                                    <div class="form-group has-search">
                                        <span class="fa fa-search form-control-feedback ml-1"></span>
                                        <input type="text" class="form-control form-control-no-border"
                                            placeholder="Search">
                                    </div>
                                </form>
                            </div>

                            <!--<div class="following-area">-->
                            <div class="col-lg-4 col-md-4 col-sm-12 py-3">
                                <button type="button" class="btn following-button text-nowrap mb-3" data-toggle="modal"
                                    data-target="#add-subscription">
                                    Add subscription
                                </button>
                            </div>

                        </div>

                        <div class="row justify-content-center my-3">

                            <div class="col-12 col-sm-10 py-1 following-content">

                                <div class="d-flex align-items-center px-3 subscribe-box-area justify-content-between">

                                    <div class=" author-image  p-2">
                                        <img class="max-width"
                                            src="resources/themes/ghost/assets/img/Ellipse (1).png" />
                                    </div>

                                    <div class="py-4  post-sm-content">
                                        <div class="px-2">
                                            <h5 class="post-author font-weight-bold">Mercy Ikpe</h5>
                                            <p class="post-detail">
                                                Storyteller | Combat wounded veteran | Designer | https://ziki.hng.tech
                                            </p>
                                        </div>
                                    </div>

                                    <div class=" p-2  not-following-area">
                                        <button type="button" class="not-following-button btn" data-toggle="modal" data-target="#unsubscribe-here">
                                            Following
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center my-3">

                            <div class="col-12 col-sm-10 py-1 following-content">

                                <div class="d-flex align-items-center px-3 subscribe-box-area justify-content-between">

                                    <div class=" author-image  p-2">
                                        <img class="max-width"
                                            src="resources/themes/ghost/assets/img/Ellipse (1).png" />
                                    </div>

                                    <div class="py-4  post-sm-content">
                                        <div class="px-2">
                                            <h5 class="post-author font-weight-bold">Mercy Ikpe</h5>
                                            <p class="post-detail">
                                                Storyteller | Combat wounded veteran | Designer | https://ziki.hng.tech
                                            </p>
                                        </div>
                                    </div>

                                    <div class=" p-2  not-following-area">
                                        <button type="button" class="not-following-button btn" data-toggle="modal" data-target="#unsubscribe-here">
                                            Following
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center my-3">

                            <div class="col-12 col-sm-10 py-1 following-content">

                                <div class="d-flex align-items-center px-3 subscribe-box-area justify-content-between">

                                    <div class=" author-image  p-2">
                                        <img class="max-width"
                                            src="resources/themes/ghost/assets/img/Ellipse (1).png" />
                                    </div>

                                    <div class="py-4  post-sm-content">
                                        <div class="px-2">
                                            <h5 class="post-author font-weight-bold">Mercy Ikpe</h5>
                                            <p class="post-detail">
                                                Storyteller | Combat wounded veteran | Designer | https://ziki.hng.tech
                                            </p>
                                        </div>
                                    </div>

                                    <div class=" p-2  not-following-area">
                                        <button type="button" class="not-following-button btn" data-toggle="modal" data-target="#unsubscribe-here">
                                            Following
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center my-3">

                            <div class="col-12 col-sm-10 py-1 following-content">

                                <div class="d-flex align-items-center px-3 subscribe-box-area justify-content-between">

                                    <div class=" author-image  p-2">
                                        <img class="max-width"
                                            src="resources/themes/ghost/assets/img/Ellipse (1).png" />
                                    </div>

                                    <div class="py-4  post-sm-content">
                                        <div class="px-2">
                                            <h5 class="post-author font-weight-bold">Mercy Ikpe</h5>
                                            <p class="post-detail">
                                                Storyteller | Combat wounded veteran | Designer | https://ziki.hng.tech
                                            </p>
                                        </div>
                                    </div>

                                    <div class=" p-2  not-following-area">
                                        <button type="button" class="not-following-button btn" data-toggle="modal" data-target="#unsubscribe-here">
                                            Following
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center my-3">

                            <div class="col-12 col-sm-10 py-1 following-content">

                                <div class="d-flex align-items-center px-3 subscribe-box-area justify-content-between">

                                    <div class=" author-image  p-2">
                                        <img class="max-width"
                                            src="resources/themes/ghost/assets/img/Ellipse (1).png" />
                                    </div>

                                    <div class="py-4  post-sm-content">
                                        <div class="px-2">
                                            <h5 class="post-author font-weight-bold">Mercy Ikpe</h5>
                                            <p class="post-detail">
                                                Storyteller | Combat wounded veteran | Designer | https://ziki.hng.tech
                                            </p>
                                        </div>
                                    </div>

                                    <div class=" p-2  not-following-area">
                                        <button type="button" class="not-following-button btn" data-toggle="modal" data-target="#unsubscribe-here">
                                            Following
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock page_content %}