{% set title = "Subscribers"%}
{% extends 'layout.html' %} {% block page_content %}
<style>
  .followers-posts ul {
    list-style: none;
  }
  
  .followers-posts ul .nav-item a {
    color: #5c5c5c;
    font-size: 16px;
  }
    
  .followers-posts ul .nav-links {
  margin-right: 10px;
  }
  
  .nav-tabs .nav-link.active {
    border-top: 0px solid #280a66 !important;
    border-right: 0px solid #280a66 !important;
    border-left: 0px solid #280a66 !important;
    border-bottom: 4px solid #280a66 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  
  .nav-tabs .nav-link {
    color: #280a66;
  }
  
  .followers-posts .follow-button {
  display: flex;
  background: #280a66;
  border: 1px solid #280a66;
  float: right;
  margin: -4em -6em 0 0;
  }
  
  .followers-posts .following-button {
  display: flex;
  background: #ffffff;
  border: 1px solid #280a66;
  float: right;
  margin: -4em -6.5em 0 0;
  color: #280a66;
  }
  
  .followers-posts .followers-content {
    margin-top: 1em;
  margin-left: 3em;
  border: 1px solid #B3B3B3;
  box-sizing: border-box;
  width: 85%;
  }
  
  .followers-area {
    background: #EEEEEE;
    height: 100%;
  }
  
  .followers-posts span {
  margin: 3em;
  }
  
  .followers-posts span a {
  color: rgba(40, 10, 102, 0.5);
  background: rgba(182, 182, 182, 0.22);
  border: 1px solid rgba(40, 10, 102, 0.5);
  text-decoration: none;
  }
    
@media screen and (max-width: 768px) {
    
    .followers-posts .sidebar {
      margin-top: 4em;
    }
    
      .nav-item a {
    font-size: 12px !important;
    text-align: center;
    }
    
    .mr-5 {
    margin-right: 0.3rem !important;
    }
      .nav-link {
      margin: 0.1em !important;
      padding: 0 !important;
    }
      .followers-posts .follow-button {
    margin: 0.4em;
    float: left;
      }
    
    .followers-posts .following-button {
    margin: 0.4em;
    float: left;
      }
    
    .followers-posts .followers-content {
    width: 80%;
    margin-left: 2em;
    }
}
 </style>
  
  <div class="container-fluid followers-posts">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sidebar">
  
      </div>
    
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="col-12 d-flex justify-content-end pb-2">
        
      </div>
        <div class="nav-bar mt-5 pt-3">
        <ul class="col-12 d-flex nav nav-tabs">
          <li class="nav-item mr-5">
          <a class="nav-link" href="profile">Profile</a>
          </li>
          <li class="nav-item mr-5">
          <a class="nav-link" href="themes">Themes</a>
          </li>
          <li class="nav-item mr-5">
          <a class="nav-link active" href="subscribers">76 Subscribers</a>
          </li>
          <li class="nav-item mr-5">
          <a class="nav-link" href="subscriptions">52 Subscriptions</a>
          </li>
        </ul>
        </div>
        
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-5 followers-area">
  
  
          <span>Your subscribers <a href="#"><i class="fa fa-search"></i>Search</a></span>
              <div class="row followers-content">
                <div class="col-12 col-sm-10">
            <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Subscribed
            </button>
            </div>
                        </div>
            </div>
                </div>
              </div>
        
        <div class="row followers-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info follow-button d-flex">
              Subscribe
            </button>
            </div>
                        </div>
            </div>
                </div>
              </div>
        
        <div class="row followers-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info follow-button d-flex">
              Subscribe
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row followers-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Subscribed
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row followers-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info follow-button d-flex">
              Subscribe
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row followers-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info follow-button d-flex">
              Subscribe
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
{% endblock page_content %}