{% set title = "Subscription"%}
{% extends 'layout.html' %} {% block page_content %}
<style>
  .following-posts ul {
      list-style: none;
    }
  
    .following-posts .logo {
      margin-top: 4em;
    }
  
    .following-posts ul .nav-item a {
      color: #5c5c5c;
      font-size: 16px;
    }
    
    .following-posts ul .nav-links {
    margin-right: 10px;
    }
    
    .nav-tabs .nav-link.active {
      border-top: 0px solid #280a66 !important;
      border-right: 0px solid #280a66 !important;
      border-left: 0px solid #280a66 !important;
      border-bottom: 4px solid #280a66 !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
    
    .nav-tabs .nav-link {
      color: #280a66;
    }
    
    .following-posts .following-button {
    display: flex;
    background: #ffffff;
    border: 1px solid #280a66;
    float: right;
    margin: -4em -7em 0 0;
    color: #280a66;
    }
    
    .following-posts .following-content {
      margin-top: 1em;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    }
    
    @media screen and (max-width: 768px) {
    .nav .nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    }
      .nav-link {
      margin: 0.1em !important;
      padding: 0 !important;
    }
  
      .following-posts .following-button {
    margin: 1em;
    float: left;
      }
    
    .following-content {
    font-size: 13px;
    }
    }
  </style>
  
  <div class="container-fluid following-posts">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sidebar">
  
      </div>
    
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
<!--      <div class="col-12 logo d-flex justify-content-end pb-2">
        <a href="#">
        <img src="resources/themes/ghost/assets/img/Vector.png" alt="ziki logo" class="" />
</a>  
      </div>  -->
        <div class="nav-bar row">
        <ul class="col-12 d-flex justify-content-start nav nav-tabs">
          <li class="nav-item mr-5">
          <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item mr-5">
          <a class="nav-link" href="#">Themes</a>
          </li>
          <li class="nav-item mr-5">
          <a class="nav-link" href="followers.html">720 followers</a>
          </li>
          <li class="nav-item mr-5">
          <a class="nav-link active" href="following.html">50 following</a>
          </li>
        </ul>
        </div>
        
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-5">
  
  
          <span>You follow <a><i class="fa fa-search"></i>Search</a></span>
              <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
                        </div>
                      </div>
                </div>
              </div>
        
        <div class="row following-content">
                <div class="col-12 col-sm-10">
                  <div class="row">
                    <div class="col-2 col-sm-1 author-image">
                      <img class="img-fluid" src="resources/themes/ghost/assets/img/ellipse.png" />
                    </div>
                    <div class="col-10 col-sm-11">
                      <h5 class="post-author">Destiny Ihejirika</h5>
            <div>
            <p class="post-detail">
                        Storyteller | Combat wounded veteran | Metalhead | Designer | Bleeding on a page just makes it more authentic: https://ziki.hng.tech
                      </p>
            <button class="btn btn-info following-button d-flex">
              Following
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
