

    {% extends 'layout.html' %}

    {% block content%}

    <!--content goes here-->

    <div class = "theme-page">
        
            <div class = "ziki-logo">
                    <img src = "build/logo.png" alt = "ziki-logo" max-width = "100%">  
            </div>
            <div class = "wrapper">
        
            <div class = "row"> 
                <div class = "left-sidebar col-md-4 col-sm-6 col-xs-6">
                    
                    <div class = "profile-img">
                        
                    </div>
                    
                    <div class = "bio">
                        <h2>Destiny Ihejirika</h2>
                        <p>Front end developer, UI/UX developer, friend and traveller</p>
                        <button type="button" class="btn btn-primary btn-sm">Sign Out</button>
                    </div>

                    <hr class = "sideline">

                    <div class = "profile-links">
                        <ul>
                            <li>Timeline</li>
                            <li>Published Posts</li>
                            <li>Profile</li>
                            <li>About</li>
                            <li>Contact us</li>
                        </ul>

                    </div>
                    
                    
       
                </div> <!--end of div left-sidebar-->


             <div class = "main col-md-8 col-sm-6 col-xs-6" >
                   <nav>
                        <ul class="nav-links">
                                <li><a href = "#">Profile</a</li>
                                <li class="active"><a href="#">Themes</a></li>
                                <li><a href="#">Following and Followers</a></li>
                            </ul>
                            <hr>
                   </nav>

                <div class = "main-profile">

                <h3>Themes</h3>

                <select>
                    <option id = "option">Ziki Default</option>
                    <option id = "option">Other themes</option>
                </select>
<br/><br/><br/>
       <div class = "toggle">
            <label class="switch"> <h6>Light Mode</h6>
                <input type="checkbox"> 
                <span class="slider round">
            </label>
        </div>
        



                </div><!--end of main-profile-->

                  
                
        
             </div><!--end of div main-->
             
             <img class = "bubbles" src = "build/bubbles.png" alt = "bubbles">
            </div> <!--end of div row-->
            
        </div> <!--end of div wrapper-->
        
        
        </div> <!--end of div theme-page-->
        

    {% endblock%}


