

    {% extends 'layout.html' %}

    {% block page_content%}
    <div class = "ziki-logo">
        <img src = "logo.png" alt = "ziki-logo" max-width = "100%">  
</div>
    <!--content goes here-->

    <div class = "theme-page">
        
        
                <div class = "theme">

                <h3>Themes</h3>

                <select>
                    <option id = "option">Ziki Default</option>
                    <option id = "option">Other themes</option>
                </select>
        <br/><br/><br/>
       <div class = "toggle">
            <label class="switch"> <h6>Light Mode</h6>
                <input type="checkbox"> 
                <span class="slider round">
            </label>
        </div>
    
            
        
        
        </div> <!--end of div theme-page-->
        

    {% endblock%}



