{% set title = "Videos"%}
{% extends 'layout.html' %} {% block page_content %}

<style>

    video-wrapper {
        width: 1020px;
        height: auto;
        margin: 0 auto;
    }
    video-first {

        width: 200px;
        height: 200px;
        float: left;
        margin-left: auto;

    }

    video-second {


        width: 200px;
        height: 200px;
        float: right;
        margin-right: auto;
    }

    .clear{
        clear: both;
    }

    @media (max-width:767px) {
        video-wrapper{
            width: 100%;
            height: auto;

        }
        video-first {
            width: 100%;
            height: auto;
            float: none;
            float: right;
            border: 100px;

        }

    }
</style>
<body>
<div class="col-12 col-sm-9 ">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">

        </div>


        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-5 pt-2">


            <div class=" video-wrapper row col-12">
                <div class = "video-first col-6" width="400" height="300"  >
                    <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" type="video/mp4s" width="400px" controls/>

                </div>

                <div class = "video-second col-6" width="400" height="300"  >
                    <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" type="video/mp4s"  width="400px" controls/>

                </div>

            </div>


            </div>
        </div>
    </div>
    <!-- using semantic tags -->
</div>


{% endblock page_content %}